<section id="footer" class="foot">
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a class="nav-link" href="/#land" onclick="scrollToSection('land')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#food-menu" onclick="scrollToSection('food-menu')">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about" onclick="scrollToSection('about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#algorithm" onclick="scrollToSection('algorithm')">Algorithm</a>
        </li>
      </ul>
      <div class="footer-logo">
        <img src="images/Group 9.png" alt="footer-logo" />
      </div>
      <p class="text-center">© 2024 DAMASO MIGUEH SANAO</p>
    </footer>
  </div>
</section>