<nav class="navbar navbar-expand-lg sticky-top bg-custom">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo2" src="images/Group 8.png" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#land" onclick="scrollToSection('land')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#food-menu" onclick="scrollToSection('food-menu')">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about" onclick="scrollToSection('about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#algorithm" onclick="scrollToSection('algorithm')">Algorithm</a>
        </li>
      </ul>
    </div>
  </div>
</nav>